.ui.vertical.segment {
  border-bottom: none;
  padding: 0;
}

#post {
  display: inline-flex;
}

#voteScore {
  text-align: center;
}

#post .header {
  font-size: 1.4em;
  font-weight: bold;
}

.comment {
  display: inline-flex;
}