#voteScore {
  text-align: center;
}

a {
  color: #7a7a7a;
}

a.panel-block.is-active {
  color: hsl(217, 71%, 53%);
  border-left-color: #7a7a7a;
}

.panel-block .panel-icon {
  border-left-color: #7a7a7a;
}

.panel-block.is-active .panel-icon {
  color: hsl(217, 71%, 53%);
}
