#voteScore {
  text-align: center;
}

a {
  color: hsl(217, 71%, 53%);
}

a.panel-block.is-active {
  color: hsl(217, 71%, 53%);
  border-left-color: #7a7a7a;
}

.panel-block .panel-icon {
  border-left-color: #7a7a7a;
}

.panel-block.is-active .panel-icon {
  color: hsl(217, 71%, 53%);
}

#header {
  padding-top: 1rem;
  background: #3675de;
}

#header p a {
  color: white;
}

#header p {
  color: white;
}

#main {
  padding-bottom: 3rem;
  padding-top: 1rem;
}

.footer {
  padding: 1rem 1.5rem 1rem;
}